@media screen and (min-width: 600px) and (max-width: 768px) {

    .why-choose-us-container {
        padding: 30px 20px;
    }

    .why-choose-us-title-container {
        margin-bottom: 20px;
    }

    .why-choose-us-title {
        font-size: 3rem;
    }

    .why-choose-us-cards-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    .card-overlay {
        padding: 28px 40px;
    }

    .card-overlay>h3 {
        font-size: 1.8rem;
    }

    .card-hover-overlay-content {
        gap: 0px;
        padding: 28px 10px;
    }

    .card-hover-overlay-content>h3 {
        font-size: 2rem;
    }

    .card-hover-overlay-content>p {
        font-size: 1.6rem;
    }
}