* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.why-choose-us-container {
  font-family: Gotham;
  max-width: 1070px;
  margin-left: auto;
  margin-right: auto;
  padding: 64px 0px;
  border: 1px solid #000;
}

.why-choose-us-title-container {
  text-align: center;
  border: 1px solid #000;
}

.why-choose-us-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 57.6px;
  letter-spacing: -3%;
}

.why-choose-us-title > span {
  color: #11498c;
}

.card {
  width: fit-content;
  border-radius: 8px;
  position: relative;
}

.card-img {
  border-radius: 8px;
}

.card-overlay {
  background-image: linear-gradient(
    to top,
    #000,
    hsla(0, 0%, 0%, 0.59),
    #00000000
  );
  width: 100%;
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 28px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0px 0px 8px 8px;
}

.card-overlay > h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30.8px;
  text-align: center;
  letter-spacing: -3%;
  color: white;
}

.card-overlay > h3 span {
  color: #ffc758;
}
